/* Clippy Calculator */
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.calculator {
    border: 0.25px solid black;
}

input {
    padding: 16px;
    width: 100%;
    font-size: 20px;
    border: none;
    font-family: 'Muli';
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    border-top: 0.25px solid black;
}

.button {
    background-color: #eeeeee; 
    color: black;
    padding: 20px;
    font-size: 200%;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

#eval {
    background-color: #0095dd;
    color: white;
}

#title {
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
